- const ar = ["https://salt.topdev.vn/jlhG3O6bE1-bTZF_qkDnkjNZr-5MRSDr98n31ncq7Wo/fit/1517/0/ce/1/aHR0cHM6Ly9uZXR3b3JrLnRvcGRldi52bi91cGxvYWRzL2tpY2MtYmFubmVyZGFpLXBuZy0yMDIwMDgwNDE0MTAxMS5wbmc/korea-it-companies.jpg","https://salt.topdev.vn/qFHVcHnS18tPes5lhroY0Kv1yjxu3L5lVRgj9EikVCk/fit/2184/0/ce/1/aHR0cHM6Ly9uZXR3b3JrLnRvcGRldi52bi91cGxvYWRzLzcyOHg5MC0xLWpwZy0yMDIwMDgwNTE0MDQyNC5qcGc.jpg","https://salt.topdev.vn/q5XXOzDjWQt6jSylTYXbtWmbnFMZ6GhOfeoot4cbYMc/fit/2184/0/ce/1/aHR0cHM6Ly9uZXR3b3JrLnRvcGRldi52bi91cGxvYWRzLzcyOHg5MC1qcGctMjAyMDA4MDkyMzU0NDAuanBn.jpg","https://salt.topdev.vn/AEdcrIjyFU2B0khX0ivQpyTypr4F6g3VMY2wXv2XDSE/fit/2000/0/ce/1/aHR0cHM6Ly9uZXR3b3JrLnRvcGRldi52bi91cGxvYWRzL3NvdXRoLXRlbGVjb20tZGFpdC1mbi1qcGctMjAyMDA3MzAxMDE2MTcuanBn/south-telecom.jpg","https://salt.topdev.vn/eYRRi3hLwM7meTxDaVqfvfGdXpizCLKwuNTmkdvXKbg/fit/1517/0/ce/1/aHR0cHM6Ly9uZXR3b3JrLnRvcGRldi52bi91cGxvYWRzL3Zp4buHYy1sYW0taXQtaGFuZy1kauG6p3UtdG9wZGV2LTAxLWRhaS1wbmctMjAyMDA4MDYxNzI4MDAucG5n.jpg"]
section#blockads.blockads
    .blockads__inner
        .blockads__inner__wrap-items
            each item in ar
                a(href="#").items
                    img(src=item, alt="")
