- const add = ["Tất cả địa điểm","Hồ Chí Minh","Đà Nẵng","Hà Nội"]
- const classSearch = ["search__option","search__option-search","icon-iconfinder_search_322497"]
- const skills = ["HackerRank","JavaScript","Python","Java","C/C++","PHP","Swift","C-Sharp","Ruby","Objective-C","GoLang"]

section#search.search
    form(action="#" method="get")
        .search__main
            div(class=classSearch)
                input(type="text" placeholder="Nhập từ khóa tìm kiếm")
            .search__option.search__option-area
                select#select(name="address")
                    each item in add
                        option= item
            button.search__btn
                span Tìm
        .search__main.search__main--border#search-hide
            .search__top-search
                ul
                    each item in skills                       
                        li 
                            a(href="#")= item
            .hide-skillsSearch
                p('onclick'="hide()") Ẩn Tất Cả Top Tìm Kiếm  
                
