.wrap-ads
    div.wrap-ads__logo
        a(href="#") 
            span hide content
        p.
            <span>IT Jobs</span>
            for Top Developers
    div.wrap-ads__bar
        ul.wrap-ads__bar__contacts.clear    
            li(style={"padding-left":"5px"})
                img(src="./assets/images/vietnam.png", alt="vietnam").icon_lang
            li(style={"padding":"0 5px"})
                a(href="#" style={"border-right": "1px solid black"})
                    <i class="fas fa-id-card"></i> Liên hệ
            li(style={"padding":"0 5px"})
                a(href="#" style={"border-right": "1px solid black"})
                    <i class="fas fa-file-contract"></i> Đăng tuyển 
            li(style={"padding":"0 5px"})
                a(href="tel:028.6273.3496" style={"border-right": "1px solid black"}) 
                    <i class="fas fa-phone-square-alt"></i> 028.6273.3496         
