* {
    box-sizing: border-box;
}
html {
    overflow-x: hidden; 
}
div,input,h1,h2,h3,h4,h5,h6,form,body,button {
    font-size: 14px;
    padding: 0;
    font-family: 'Roboto,Helvetica,Verdana,Arial',sans-serif;
}
body{
    margin: 0;
    padding: 0;
    min-width: 1260px;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: 400;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container{
  width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-2,.col-3,.col-9,.col-12,.col-8,.col-4,.col-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-8{
  flex: 0 0 66.66%;
  max-width: 66.66%;
}
.col-4{
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.col-12{
  flex: 0 0 100%;
  max-width: 100%;
}
.col-3{
  flex: 0 0 25%;
  max-width: 25%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.flr{
  float: right;}
.clear {
  position: relative;
}
.clear::after{
  clear: both;
  content: "";
  display: block;
}
.bg-white{
  background-color: white;
}
.bg-second{
  background-color: #efefef;
}
.mt{
  margin-top: 17px;
}
.arrow-right {
  position: absolute;
  display: flex;
  top: 50%;
  right:0;
  transform: translate(-50%,-50%);
  span {
      display: block;
      height: 10px;
      width: 10px;
      border-bottom: 3px solid $my-color-orange;
      border-right: 3px solid $my-color-orange;
      transform: rotate(-45deg);
      animation: animate 2s infinite;
  }
  @keyframes animate {
      0%{
          opacity: 0;
          transform: rotate(-45deg) translate(-10px,-10px);
      }
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          transform: rotate(-45deg) translate(10px,10px);
      }
  }
}
.arrow-right span:nth-child(1){
  animation-delay: -0.4s;
}
.arrow-right span:nth-child(2){
  animation-delay: -0.2s;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icomoon.eot');
    src:  url('../assets/fonts/icomoon.eot') format('embedded-opentype'),
      url('../assets/fonts/icomoon.ttf') format('truetype'),
      url('../assets/fonts/icomoon.woff') format('woff'),
      url('../assets/fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-iconfinder_search_322497:before {
    content: "\e900";
    margin-right: 0;
  }
  // .icon-star-empty:before {
  //   content: "\e9d7";
  // }
  