footer{
    padding: 40px 0;
    h3 {
        margin-top: 0;
        font-size: 18px;
        color: #393e46!important;
    }
    a {
        color: #393e46!important;
        font-weight: 300;
        opacity: 0.9;
    }  
    ul{
        justify-content: space-evenly;
        align-items: center;
        li {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 18px;
        }
    }   
}
.footer-wrap{
    display: grid;
    grid-template-columns: 25% 25% auto auto auto;
    &__address{
        padding-right: 40px;
        img{
            @include image(contain);
            width: 50%;
        }
        p:last-child{
            opacity: 0.6;
        }
    }
    &__about{
        padding-right: 40px;
    }
    &__follow {
        i {
            font-size: 3em;
            line-height: 1.5em;
        }
    }
}
#top-page{
    display: none;
    background-color: #e24a32;
    width: 40px;
    height: 40px;
    border: none;
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
    span {
        display: block;
        margin-top: 6px;
        margin-left: 12px;
        height: 15px;
        width: 15px;
        border-bottom: 4px solid #fff;
        border-right: 4px solid #fff;
        transform: rotate(-135deg);
    }
}
#top-page:focus{
    outline-width: 0;
}