%font-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
.main-content {
    position: relative;
    z-index: 1;
    &__wrap{
        @include content-product(15px 0 40px);
        &__s-salary{
            margin: 0 3px;
        }
        &__s-login{
            a{
                color: $my-color-orange;
                text-decoration: underline;
                font-style: italic;
                font-size: 11px;
            }
            font-size: 11px;
        }
        &__salary {
            color: $my-color-orange !important;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 0 3px 0 0;
            padding: 0;
        }
        &__address {
            margin: 0;
            padding: 0;
            overflow: hidden;
            white-space: nowrap;
            //text-overflow: inherit;
        }
    }
    &__inner{
        width: 1260px;
        margin: 0 auto;
        position: relative;
    }
    &__top-product{
        width: 100%;
        h2 {
            margin-bottom: 10px;
        }   
        &__wrap-link {
            position: relative;
        }       
        &__title-cont{
            @include title-cont(black);
        }
        a {
            padding-right: 45px;
            @extend %font-title;
            color:$my-color-orange;
        }
        
    }
    
    &__list-product {
        width: 1276px;
        margin-top: -3px;
        .main-content__box-product{
            padding: 0 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            height: 100%;
            //overflow: auto;
        }
    }
    &__list-product li{   
        float: left;
        position: relative;
        margin-right: 15px;
        margin-bottom: 16px;
        width: 304px;
        margin-top: 14px;
        height: 206px;
    }

    &__box-product {
        height: 220px;
        transition: .15s all ease-out;
        background: #fff;
        border: 1px solid #fdc578;
        &__link-product {
            width: 100%;
            height: 100%;
            position: absolute;
            color: black;
            top: 0;
            left: 0;
            z-index: 10;
            background-color: #fff;
            opacity: 0;
        }
        &__product-logo {
            margin: 20px auto 3px;
            width: 100px;
            height: 100px;
            font-size: 22px;
            line-height: 56px;
            display: flex;
            background: #fff;
            align-items: center;
            justify-content: center;
            padding: 5px;
            img {
                @include image(cover);
                z-index: 10;
            }
        }
        h3 {
            margin: 8px 0 0 0;
        }
        &__name-product{
            display: block;
            overflow: hidden;
            color: #444;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
            transition: .2s all;
            text-transform: capitalize;
            font-size: 18px;
        }
        &__pos-rel {
            margin: 2px 0 4px 0;
            position: relative;
            z-index: 10;
        }
        &__job-ago{
            color: royalblue;
        }
        &__side{
            padding: 0 12px 0 0;
            margin-top: 0;
            margin: auto;
            p {
                margin: 0;
                padding: 0;
                float:right;
            }
            a {
                float: right;
                color: $my-color-orange;
                text-decoration: underline;
            }
        }
        &__top-benefits {
            line-height: 18px;
            ul {
                padding: 0;
                margin: 10px 0 0 0;
                text-align: justify;
                ul li {
                    width: auto!important;
                    height: auto!important;
                    list-style: disc;
                    margin: 5px 0 0 10px!important;
                }
            }
        }
        &__open {
            visibility: hidden;
            opacity: 0;
            height: 0;
        }
        &__product_desc {
            margin-top: 2px;
            font-size: 14px;
            line-height: 18px;
            display: block;
            overflow: hidden;
            color: #444;
            letter-spacing: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__box-product::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        border-top: 0px;
        clear: both;
    }
    &__list-product
    &__box-product:hover .main-content__box-product__open{
        visibility: visible;
        height: 100%;
        opacity: 1;
    }
    &__list-product &__product-items 
    &__box-product:hover{
        height: 442px;
        z-index: 20;
    }
    &__list-product
    &__box-product:hover .main-content__box-product__product_desc{
        text-overflow: initial;
        white-space: initial;
    }
    &__box-product:hover:before{
        background-color: #f1910a;
    }
    &__box-product::before{
        background-color: #fdc578;
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        width: 100%;
        z-index: 1;
        content: "";
    }
    &__min-listProd li{
        width: 241px;
        margin-right: 14px;
    }
    &__min-listProd {
        .main-content__box-product {
            height: 220px;
            transition: .15s all ease-out;
            background: #fff;
            border: 1px solid #5f5e5f;
        }
        .main-content__box-product::before{
            background-color: #5f5e5f;
        }
        &__job-bottom {
            position: relative;
            height: 24px;
            overflow: hidden;
            margin: 10px 0;
            width: 100%;
            font-size: 0;
            display: flex;
            justify-content: space-between;
        }
        &__tag-list {
            display: inline-block;
            margin: 0;
            a{
                display: inline-block;
                border: 1px solid #d2d3d3;
                margin: 0 3px 5px 0;
                padding: 4px 5px;
                color:#5f5e5f;
                font-size: 12px;
                font-weight: 400;
                line-height: 100%;
                cursor: pointer;
            }
        }
        .main-content__box-product:hover &__job-bottom{
            height: auto;
        }
        .main-content__box-product:hover::before{
            background-color: black;
        } 
    }
    &__min-listProd &__product-items 
    &__box-product:hover{
        height: 456px;
        z-index: 20;
    }
}

