@import '../base/variables';
#search {
    margin: 20px 35px 0;
    a:hover {
        color: $my-color-orange;
    }
}
.main-search {
    display: flex;
    border: 1px solid $my-color-orange;
    height: 60px;
    align-items: center;
    box-shadow: 0 6px 10px rgba(0,0,0,.11);
}
.option-search{
    width: 65%;
    margin: 5px;
    padding: 5px 0;
    border: 1px solid #d2d2d2;
    input {
        border: none;
        height: 32px;
    }
    input:focus{
        outline-width: 0;
    }
}
.option-search::before{
    padding: 0 10px;
    font-size: 20px;
    color: #858585;
    font-weight: lighter;
}
.option-area {
    width: 22%;
    margin: 5px;
    padding: 5px 0;
    border: 1px solid #d2d2d2;    
}
#select {
    min-height: 32px;
    width: 100%;     
    padding: 0 10px;
    opacity: 0.8;
    line-height: 1;
    outline: 0;
    border: none;
}
.btn-search {
    width: 13%;
    height: 100%;
    border: none;
    background-color: $my-color-orange;
    cursor: pointer;
    span {
        color: white;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 1;
        font-weight: 400;
    }
} 
.main-search-2 {
    border-top: none;
}
.top-search {
    width: 70%;
}
.hide-skillsSearch{
    width: 30%;
    text-align: center;
    p {
        font-style: italic;
        color: #a09c9c;
    }
}
.top-search ul {
    display: flex;
    list-style: none;
    padding-left: 10px;
    margin: 0;
}
.top-search li {
    border: 1px solid #d2d2d2;
    margin-right: 10px;
    padding: 5px;
    a {
        color: black;
    }
}
